extends layout

block content
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ng-controller="BasesController")
        h1.page-header Bases
        h4 Click on the map to add a base
        #map

    script(src='/js/controllers/BasesController.js')
