extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-ba
        a.navbar-brand(href='#') General-X
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='#') Home
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li.active
            a(href='#') Overview
          li
            a(href='#') Bases
          li
            a(href='#') Spaceships
          li
            a(href='#') Targets

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ng-controller="BasesController")
        h1.page-header Bases
        #map

    script(src='/js/controllers/BasesController.js')
