extends layout

block content
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ng-controller="DashboardController")
        h1.page-header Dashboard
        #map

    script(src='/js/controllers/DashboardController.js')
